/* home.module.css */

.portadaContainer {
  min-width: 100%;
  margin-top: -10px;
  text-align: center;
  width: 100%; /* Width of carousel */
  height: 80vh;
}

img {
  width: 100%;
}

.portadaImagen {
  width: 100%;
  height: 100%;
}

.sliderContainer {
  width: 100%; /* Width of card container */
  display: flex;
  position: relative;
  margin: auto;
  overflow: hidden;
  justify-content: center
} 
img{
  object-fit: cover;
  width:100%;
  height:100%;
}
.slider {
  display: flex;
  height: 80vh;
 
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
  text-align: center;
  opacity: 0 ;
  transition: opacity   0.7s easy-in-out;
  position: relative; 
  height: 80vh;
}

.slide.active {
  opacity: 1;
  background-color: #3498db; /* Puedes ajustar el color de fondo según tus necesidades */
}

.prevButton,
.nextButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;  
}
.prevButton:hover,
.nextButton:hover { 
  color: azure;
}
.prevButton {
  left: 0;
}

.nextButton {
  right: 0;
}

.blog {
  background-color: white;
  margin-top: -30px;
  height: 500px;  
}
